<header>
    <ul>
        <li><a href="/products/autos">Lista de autos</a></li>
        <li><a href="">autos por marca</a></li>
        <li><a href="">autos por color</a></li>
        <li><a href="">autos por año</a></li>
    </ul>
</header>