<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>UdeSA Movies</h1>
    <p>Welcome to UdeSA Movies</p>
    <% console.log('En la vista') %>
    <% console.log(locals.name) %>

    <% if(locals.user){ %>
      <h2>Hola: <%= locals.user.name %> </h2>
    <%}%>
    <a href="/movies/new">Estrenos</a>
    <a href="/movies/recomended">Recomendadas</a>
    <a href="/movies/create">Nueva Película</a>
    
    <% if(locals.user){ %>
      <form action="/login/logout" method="POST">
        <button type="submit">Logout</button>
      </form>
    <%} else {%>
      <a href="/login">Ingresar</a>
      <a href="/register">Registrate</a>
    <%}%>
    
    
    <h2>Buscar películas</h2>
    <form action="/movies/search" method="GET">
      <input type="text" name="search" value="" placeholder="Buscar...">
      <button type="submit">Buscar</button>
    </form>
    <ul>
      <% for(let i=0; i<movies.length; i++){ %>
        <li>
          <a href="/movies/detail/<%= movies[i].id%>"><%= movies[i].title %></a> 
        </li>
      <% } %> 
    </ul>
  </body>
</html>
