<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>UdeSA Movies</h1>
    <p>Datos de la película <%= movie.title %> </p>
    <a href="/">Home</a>
    
    <p>Rating: <%= movie.rating %> </p>
    <p>Duración: <%= movie.length %> </p>

    <form action="/movies/delete/<%= movie.id %>" method="POST">
      <button type="submit">Borrar</button>
    </form>
    <button> Modificar </button>
    
  </body>
</html>
