<!DOCTYPE html>
<html>
  <head>
    <title>UdeSA Movies</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>UdeSA Movies</h1>
    <p>Datos de la película <%= movie.title %> </p>

    <p>Rating: <%= movie.rating %> </p>
    <p>Duración: <%= movie.length %> </p>

    
  </body>
</html>
