<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Document</title>
</head>
<body>
    <H1>Editar mis datos</H1>
    <a href="/">Home</a>
    <a href="/login">Ingresar</a>

    <% if(locals.errors){ %>
        <p style="color:red">
            <%= locals.errors.message %>
        </p>
        <% } %>
    <img class="avatar" src="/images/avatars/<%= user.avatar %> " alt="">
    <form action="/register/edit" method="POST" enctype="multipart/form-data">
        <div>
            <input type="text" name="name" placeholder="nombre" value="<%= user.name %>">
        </div>
        <div>
            <input type="email" name="email" placeholder="email" value="<%= user.email %>">
        </div>
        <div>
            <input type="password" name="password" placeholder="contraseña" value="">
        </div>
        <div>
            <input type="file" name="avatar">
        </div>
        <button type="submit">Actualizar datos</button>
    </form>
</body>
</html>